@import "./variables.scss";

.main {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: min-content;
  background-color: $bc-color;
  display: grid;
  place-content: center;
  padding: 20px 10px;

  .wrapper {
    width: 70vw;
    display: grid;
    place-content: center;
    height: 100px;
    @media (max-width: 1080px) {
      width: 90vw;
    }
    .search-info {
      width: 60vw;
      padding: 15px;
      border-bottom: 1px solid $main-blue;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1080px) {
        width: 90vw;
      }

      .result-text {
        color: $main-blue;
      }
      .total-result-count {
        color: $faint-text-color;
      }
    }
  }

  .film-list {
    width: 70vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    @media (max-width: 1080px) {
      width: 90vw;
    }
  }

  .back-to-top {
    width: 70vw;
    display: grid;
    place-content: center;
    height: 50px;
    border-top: 2px solid $border-color;
    margin-top: 20px;
    color: $main-blue;

    @media (max-width: 1080px) {
      width: 90vw;
    }
  }

  .back-to-top:hover {
    cursor: pointer;
  }
}
