.main {
  width: 100vw;
  height: 100vh;
  background-color: $bc-color;
  display: grid;
  place-content: center;
}
.input-search {
  width: 70vw;
  height: 2rem;
  border: 1px solid $border-color;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px;
}
